*{
	margin:0% !important;
}
.fondo1{
	/*background-image: url(../img/perfil.jpg);*/
	background-image: url(../img/perfil2.jpg);
	background-repeat: no-repeat;
	background-size: fixed;
	width: 100%;
	height: 100%;
}
.segundo {
  color: #032;
}
.tercero {
  background-color: green;
}
a{
	list-style-type: none;
}
.letra{
	font-family: 'Roboto', sans-serif;
}
.normal{
	height: 40%;
}
.morado{
	background-color: #BC8F8F;
}
.morado2{
	background-color: rgb(160,80,105);
}
.transparente{
	background-color: transparent;
}
.marge-perfil-foto{
	margin:0%;
}
.negro{
	color: black;
}
.blanco{
	color:  white !important;
}
.colorAdi{
	color:#FA8072 !important;
}
.claro{
	background-color: #BA9F84;
}
.anchoalto{
	width: 10%;
	height: 10%;
}
.btnblanco{
	background-color: white;
}
.margin{
	margin:10% 13%;
}
.margen{
	margin:3%;
}
.marginperfil{
	margin:0%;
	padding: 20%;
}
.ancho{
	padding-left: 5%;
}
.margintop{
	margin-top: 6%;
}
.margintopmenu{
	margin-top: 0em;
}
.linea{
	display: inline;
}
.vertical{
	transform: rotate(90deg);
}
ul>li{
	list-style-type: none;
}
.Yoo{
	background-image: url(../img/fondo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 10em;
	width: 100%;
}
#Proyectos{
	background-image: url(../img/contactus.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position:right;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#Conocimientos{
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	opacity: 1;
}
