/*@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);*/
*{
	margin:0% !important;
	color: white !important;
	font-size: 18px;
}
hr{
	border: 1px solid;
}
.padding-left{
	padding-left: 8%;
}
.yoFont{
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}
.btnVerCV{
	width:20%;
	height: 50%;
	margin: 0% 40% 0% 40% !important;
	background-color: #FA8072;
	text-decoration: none;
}
.segundo {
    color: #032;
}
.tercero {
	background-color: green;
}
.btnblanco{
	background-color: white;
}
.imgFlores{
	width: 60%;
	height: 60%;
}
.pd-0{
	padding: 2%;
}
.pd-1{
	padding: 22%;
}
.pd-2{
	padding: 10%;
}
.pd-3{
	padding: 9%;
}
.morado{
	background-color: #BC8F8F;
}
.morado2{
	color: rgb(160,80,105);
}
.bgnegro{
	background-color: rgba(0, 0, 0,0.5);
}
.morado3{
	background-color: rgba(160,80,105, 0.6);
}
.bgcolorRosa{
	background-color: rgba(250, 128, 114, 0.3);
}
.imgperfil{
    border: 2px solid #BC8F8F;
}
.transparente{
	background-color: transparent;
}
.clar{
	background-color: rgb(207,177,147);
}
.normal{
	height: 40%;
}
.imgBiciando{
	width: 63%;	
	height: 5%;
}
.imgBaile{
	width: 70%;
	height: 70%;
}
.imgAccesorios{
	width: 89%;
	height: 74%;
}
.imgTesting{
	width: 63%;
	height: 40%;
}
.negro{
	color: black;
}
.blanco{
	color: white;
}
.colorAdi{
	color: #FA8072 !important;
}
.anchoalto{
	width: 10%;
	height: 10%;
}
.margin{
	margin:10% 13%;
}
.margenperfil{
	margin:0% 2%;
}
.margenfoto{
	margin:0% 10% 0% 10% !important;
}
.margenfotobICIANDO{
	margin:0% 30% 0% 30% !important;
}
.margenfotoContact{
	margin:0% 40% 0% 40% !important;
}
.bgcolorPerfil{
	 background-color:rgb(160,80,105);
}
.ancho{
	padding-left: 5%;
}
.margintop{
	margin-top: 5% !important;
}
.marginbottom2{
	margin-bottom: 3em !important;
}
.margintopHabilidades{
	margin-top: 5em !important;
}
.marginbottom{
	margin-bottom: 2em;
}
.linea{
	display: inline;
}
.margingif{
	margin:20% 20% 0% 50% !important;
}
.vertical{
	transform: rotate(90deg);
}
.gif{
	z-index: 1000; 
	position: absolute;
	top: 0px; 
	left: 0px;
	background-color: rgb(160,80,105);
	width: 100%;
	height: 100%;
}
.divContent{
	z-index: 2;
	position: absolute; 
	top: 0px; 
	left: 0px;"
}
ul>li{
	list-style-type: none;
}
.body{
	background-image: url(../img/fondoPrincipal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#perfil{
	width: 20%;
	height: 20%;
	margin-right: 39% !important;
	margin-left: 39% !important;
}
#star span a img{
	display: inline;
	margin-right: 5% !important;
	margin-left: 70% !important;
}
